<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮件激活失败</title>
    <script></script>
</head>
<body>
<div>
    <h1>邮件已经发送,请注意及时查收,激活...</h1>
    <h3>页面将在&nbsp;&nbsp;<span style="color: red; font-size: 30px">5</span>&nbsp;&nbsp;秒钟跳转到课程的首页..欢迎的你的学习..没有跳转请&nbsp;&nbsp;<a
            href="{% url 'users:index' %}">点击这里跳转</a></h3>
</div>
<script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
<script>
    $(function () {
        var $span = $('span');
        var value = parseInt($span.html());
        var T = window.setInterval(function () {
            if (value === 0) {
                clearInterval(T);
                location.href="{% url 'users:index' %}";
                return
            }
            value--;
            $span.html(value);
        }, 1000);

    })


</script>
</body>
</html>